{% extends 'base.html.twig' %} {% block title %}Album index {% endblock %} {% block body %}
<h1>Album</h1>

{% for album in albums %}
<div class="card">
  <img
    src="{{ asset('uploads/albums/pictures/' ~ album.pictureFilename) }}"
    alt=""
  />
  <div class="card-body">
    <h5 class="card-title">{{ album.name }}</h5>
    <p class="card-text">{{ album.artiste }}</p>
    <a href="{{ path('app_album_show', { id: album.id }) }}">show</a>
    <a href="{{ path('app_album_edit', { id: album.id }) }}">edit</a>
  </div>
  </div>

  {% endfor %}
  <a href="{{ path('app_album_new') }}">Create new</a>
  {% endblock %}

